<!DOCTYPE html>
<html>
  <head>
    <title>Branded Portfolio</title>
    <meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <link type="text/css" rel="stylesheet" href="css/normalize.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="scss/main.css">
    <link rel="shortcut icon" type="image/ico" href="img/favicon.ico"/>
    <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Sacramento" rel="stylesheet">

  </head>
  <body>
    <h1 class="matharu"><a href="#">Website by freeTemplates.design</a></h1>
    <section id="shell">
      <div class="menu">
        <div class="line line1"></div>
        <div class="line line2"></div>
        <div class="line line3"></div>
      </div>
      <h1 class="logoName"><a href="#">Sajaan Matharu</a></h1>
      <section class="linksHolder">
        <ul>
          <li class="li brandItem brandItem14" data-number="14"><a href="#">Gucci</a></li>
          <li class="li brandItem brandItem13" data-number="13"><a href="#">Addidas</a></li>
          <li class="li brandItem brandItem12" data-number="12"><a href="#">Vogue</a></li>
          <li class="li brandItem brandItem11" data-number="11"><a href="#">Golfx</a></li>
          <li class="li brandItem brandItem10" data-number="10"><a href="#">Tesla</a></li>
          <li class="li brandItem brandItem9" data-number="9"><a href="#">DeepMind</a></li>
          <li class="li brandItem brandItem8" data-number="8"><a href="#">Puma</a></li>
          <li class="li brandItem brandItem7" data-number="7"><a href="#">Tyler The Creator</a></li>
          <li class="li brandItem brandItem6" data-number="6"><a href="#">Asa Akira</a></li>
          <li class="li brandItem brandItem5" data-number="5"><a href="#">Bauhouse</a></li>
          <li class="li brandItem brandItem4" data-number="4"><a href="#">National Geographic</a></li>
          <li class="li brandItem brandItem3" data-number="3"><a href="#">Supreme</a></li>
          <li class="li brandItem brandItem2" data-number="2"><a href="#">Smirnoff</a></li>
          <li class="li brandItem brandItem1" data-number="1"><a href="#">Reebok</a></li>


        </ul>
      </section>
      <section class="backgroundImages">
        <img src="img/4s.jpg" class="image item14">
        <img src="img/3s.jpg" class="image item13">
        <img src="img/2s.jpg" class="image item12">
        <img src="img/1s.jpg" class="image item11">
        <img src="img/4s.jpg" class="image item10">
        <img src="img/3s.jpg" class="image item9">
        <img src="img/2s.jpg" class="image item8">
        <img src="img/1s.jpg" class="image item7">
        <img src="img/6s.jpg" class="image item6">
        <img src="img/5s.jpg" class="image item5">
        <img src="img/4s.jpg" class="image item4">
        <img src="img/3s.jpg" class="image item3">
        <img src="img/2s.jpg" class="image item2">
        <img src="img/1s.jpg" class="image item1">
      </section>

    </section>

  </body>
  <!--
  <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.1/TweenMax.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.1/plugins/ScrollToPlugin.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.1/jquery.gsap.min.js"></script>

  <script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
  <script type="text/javascript" src="js/TweenMax.min.js"></script>
  <script type="text/javascript" src="js/velocity_and_ui.min.js"></script>
  <script type="text/javascript" src="js/greensock.scrollToPlugin.min.js"></script>

  -->


  <script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
  <script type="text/javascript" src="js/TweenMax.min.js"></script>
  <script type="text/javascript" src="js/velocity_and_ui.min.js"></script>
  <script type="text/javascript" src="js/main.js"></script>
</html>
