//fonts
$incon: 'Inconsolata', monospace;
$forum: 'Forum', Sans;
$open: 'Open Sans', sans-serif;




//colors

//$right: #E0D2C3;
$blue: #4f90a4;

$preloaderColor: #00355f;
$preloaderTextColor: rgba(255, 255, 255, 0.8);
$socialBackgroundColor: #33524d;

$aboutMeTitleColor: #0049a4;
$aboutMeWordsColor: black;


$topLeftColor: #692a00;
$bottomRightColor: #b6d7e2;
