*{
  text-decoration: none;
  list-style-type: none;
  margin: 0 ;
  padding: 0 ;
  box-sizing: border-box;
}

.cntr{
  display: block;
  margin: 0 auto;
}

.crcl{
  border-radius: 100%;
}


.ul{
  text-align: center;
}

.li{
  display: inline-block;
}
html{
	height: 100%;
	min-height: 100%;
}
*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}
body{
  position: relative;
}

/*
*
*  Project Start
*
*/

body,
#shell{
  background-color: $red;
}

.matharu{
  position: fixed;
  margin: 0 !important;
  padding:  !important;
  font-size: 15px;
  z-index: 10;
  bottom:20px;
  left:20px;
  //right:0;
  //margin: auto;
//  border: 1px solid black;
  //width: 300px;
  text-align: left;
  font-family: $incon;

  //for animation
  opacity:0;


  a{
    color: inherit;
  //  border: 1px solid lime;
    padding: 5px;
  }

}//end matharu

#shell{
  position: relative;


.menu{
  position: fixed;
  height: 40px;
  width: 40px;
  top:45px;
  right:45px;
  //border: 1px solid blue;
  z-index: 20;


  &:hover{
    cursor: pointer;
  }


  .line{
    background-color: #433C4F;
    position: absolute;
    width: 100%;
    height: 5px;
    left:0;
  }//end line

  .line1{
    top:0;
  }
  .line2{
    top: 17px;
  }
  .line3{
    bottom:0;
  }

}//end menu


  .logoName{
    //border: 1px solid black;
    width: auto;
    text-align: center;
    font-family: $cursive;
    padding: 0;
    margin:0;

    font-size: 50px;
    position: absolute;
    top:80px;
    left:0;
    right: 0;
    margin: auto;
    z-index: 30;




    a{
      //color: white;
      color: $logo;
    }
  }//end logoName


  .linksHolder{
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin: auto;

    height: 350px;
    width: 450px;
    //border: 1px solid black;
    z-index: 20;

    ul{
      text-align: center;
      text-align-last: center;

      .brandItem{
        font-family: $incon;
        font-size: 35px;
        letter-spacing: 5px;
        //border: 1px solid black;
        //color: #000000;
        //background: #FFFFFF;

        //text-shadow: 1px 1px 0px rgba(150,150,150, 1);
        //margin: 0 10px;
        //  opacity:0;
        a{
          color: black;
          padding: 0 10px;
          //color: $darkRed;
        }
      }//end li
    }//end ul
  }//end linksHolder

  .backgroundImages{
    z-index: 10;
    position: absolute;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 90%;
    height: 90%;
    text-align: center;
    .image{
        width: auto;
        height: 100%;
        //max-height: 90%;
        display: block;
        margin: 0 auto;


    }//end image

  }//end backgroundImages

}//end shell
