<!DOCTYPE html>
<html>
  <head>
    <title>HillTop</title>
    <meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <link type="text/css" rel="stylesheet" href="css/normalize.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="scss/main.css">
    <link rel="shortcut icon" type="image/ico" href="img/favicon.ico"/>
    <link href="https://fonts.googleapis.com/css?family=Inconsolata|Forum|Open+Sans" rel="stylesheet">

  </head>
  <body class="is-loading">
    <div id="preloader">
      <div class="txt">
          <p class="txt-perc">0%</p>
          <div class="progress"><span></span></div>
      </div>
    </div>
  <section id="shell">
    <p class="freeTemplate"><a href="https://freeTemplate.Design">freeTemplate.Design</a></p>

    <div class="social">
      <p class="followX">X</p>
      <ul class="ul socialIconHolder">
        <li class="li socialIcons"><a href="#" style="color:#7edfff" class="fab fa-fw fa-twitter"></a></li>
        <li class="li socialIcons"><a href="#" style="color:#a2ff8d" class="fab fa-fw fa-instagram"></a></li>
        <li class="li socialIcons"><a href="#" style="color:#f7ff9c" class="fab fa-fw fa-snapchat"></a></li>
        <li class="li socialIcons"><a href="#" style="color:#1c2725" class="fab fa-fw fa-medium"></a></li>
        <li class="li socialIcons"><a href="#" style="color:#ffc8c8" class="fab fa-fw fa-periscope"></a></li>
      </ul>
    </div>

    <div class="left">
      <div class="leftImg bcg"></div>
    </div>

    <div class="right">
      <p class="aboutX">X</p>
      <div class="rightImg bcg"></div>
      <div class="aboutMe">
        <p class="aboutMeTitle">About</p>
        <div class="aboutMeWords">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
          <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
            cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
            cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
      </div>
      <div class="rightHolder bcg">
        <div class="textHold">
          <p class="name">Lorem Bipsume</p>
          <p class="topLeft">Sumodore</p>
          <p class="bottomRight">Avantmn</p>
        </div>
        <p class="follow">Follow</p>
        <p class="about">About</p>
      </div>
    </div>

  </section>
  </body>
  <script type="text/javascript" src="js/jsFiles.min.js"></script>
  <script type="text/javascript" src="js/main.js"></script>
</html>
