<!DOCTYPE html>
<html>
  <head>
    <title>Atmos</title>
    <meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <link type="text/css" rel="stylesheet" href="css/normalize.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="scss/main.css">
    <link rel="shortcut icon" type="image/ico" href="img/favicon.ico"/>
    <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond" rel="stylesheet">
  </head>
  <body>
    <section id="shell" class="fullSize">
      <!--
      <ul class="ul hugeSocial">
        <li class="li testItem"><a href="#"><i class="fab fa-instagram"></i></a></li>
        <li class="li testItem"><a href="#"><i class="fab fa-twitter"></i></a></li>
        <li class="li testItem"><a href="#"><i class="fab fa-snapchat"></i></a></li>
        <li class="li testItem"><a href="#"><i class="fab fa-medium"></i></a></li>
      </ul>
    -->
      <a href="#" class="freeTemplateDesign">freeTemplate.design</a>

      <section class="square centerShell">
        <section class="centerContent">
          <section class="centerImg"></section>
          <h1 class="name">Loremh Imubsumn</h1>
          <p class="pageLink about">About</p>
          <p class="pageLink follow">Follow</p>
          <p class="pageLink resume">Resume</p>
          <p class="pageLink contact">Contact</p>
        </section>
        <div class="centerBackground"></div>
      </section>

      <!--<section class="backgroundSquare"></section>-->
      <section class="square linkContent">
        <div class="aboutContent">
          <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
          <p>Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
          <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
          <p>It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
          <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
          <p>The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks and devious Semikoli, but the Little Blind Text didn’t listen.</p>
          <p>She packed her seven versalia, put her initial into the belt and made herself on the way.</p>
          <p>When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove, the headline of Alphabet Village and the subline of her own road, the Line Lane.</p>
          <p>Pityful a rethoric question ran over her cheek, then</p>
          <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
          <p>The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks and devious Semikoli, but the Little Blind Text didn’t listen.</p>
          <p>She packed her seven versalia, put her initial into the belt and made herself on the way.</p>
          <p>When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove, the headline of Alphabet Village and the subline of her own road, the Line Lane.</p>
          <p>Pityful a rethoric question ran over her cheek, then</p>
        </div>
        <div class="followContent">
          <ul class="ul social">
            <li class="li socialIcons"><a href="#" class=""><span class="fab fa-angellist"></span></a></li>
            <li class="li socialIcons"><a href="#" class=""><span class="fab fa-medium"></span></a></li>
            <li class="li socialIcons"><a href="#" class=""><span class="fab fa-instagram"></span></a></li>
            <li class="li socialIcons"><a href="#" class=""><span class="fab fa-dribbble"></span></a></li>
            <li class="li socialIcons"><a href="#" class=""><span class="fab fa-pied-piper-pp"></span></a></li>
            <li class="li socialIcons"><a href="#" class=""><span class="fab fa-y-combinator"></span></a></li>
          </ul>
        </div>
        <div class="contactContent">
          <div class="contactWords">
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
          </div>
          <div class="formHold">
            <!-- Replace the line on 98 with the line on 99 for the contact section to work-->
            <!-- <form action="<http://formspree.io/youremail@provider.com" method="POST" class="cntr">-->
            <form action="" method="POST" class="cntr">
              <input name="contactPageName" type="text" id="name" placeholder="Name"/>
              <input name="email" type="email" id="email" placeholder="Email"/>
            <!-- temporary comment,  (This is a honeypot to catch webscrapers) -->
    				<input type="hidden" name="_next" value="responce.html" />
            <input type="text" name="_gotcha" style="display:none;" />
              <label for="message"></label>
              <textarea class="cntr" id="message" name="message" placeholder="Message" Required></textarea>
              <button class="cntr" type="submit">Submit</button>
            </form>
          </div>
        </div>

      </section>

    </section>

  </body>
  <!--
  <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.0/jquery.waypoints.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/plugins/ScrollToPlugin.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/jquery.gsap.min.js"></script>

  <script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
  <script type="text/javascript" src="js/TweenMax.min.js"></script>
  <script type="text/javascript" src="js/velocity_and_ui.min.js"></script>
  <script type="text/javascript" src="js/waypoints.min.js"></script>
  <script type="text/javascript" src="js/greensock.scrollToPlugin.min.js"></script>

  -->
  <script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
  <script type="text/javascript" src="js/TweenMax.min.js"></script>
  <script type="text/javascript" src="js/main.js"></script>


  <!-- threejs birds --->
    <!--<script src="https://threejs.org/build/three.min.js"></script>-->
		<!--<script src="https://threejs.org/examples/js/renderers/Projector.js"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/97/three.min.js"></script>
    <script src="js/projector.js"></script>
		<!--<script src="https://threejs.org/examples/js/renderers/CanvasRenderer.js"></script>-->
    <script src="js/canvasRenderer.js"></script>
		<script src="https://threejs.org/examples/js/libs/stats.min.js"></script>

  <!-- bird.js link is broken-->
    <!--<script src="https://threejs.org/examples/obj/Bird.js"></script>-->

</html>
