//fonts
$mono: 'Anonymous Pro', monospace;
$quicksand: 'Quicksand', sans-serif;   // good  thin title
$mont: 'Montserrat', sans-serif;       // good thick title


//colors

$mobileName: white;
$regularName: white;

$mobileTitle: white;
$regularTitle: white;


$mobileSpacer: white;

$regularSpacer: white;

$mobileIcons: white;
$regularIcons: white;

$mobileNavBtn: white;
$regularNavBtn: lightblue;



$mobileContactLight: #FDFDD1;
$mobileContactDark: #F0D890;


$transparentBack: rgba(76, 76, 76, 0.23);
