/* definings */
/* global styles */
* {
  text-decoration: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.cntr {
  display: block;
  margin: 0 auto; }

.crcl {
  border-radius: 100%; }

.ul {
  text-align: center; }

.li {
  display: inline-block; }

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-sizing: border-box; }

body {
  position: relative;
  height: 100%;
  background-color: black; }

/*
*  Project Start
*/
#shell {
  height: 100%;
  width: 100%;
  position: relative;
  background-image: url("../img/mountian3.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 500px; }
  #shell .tint {
    height: 100%;
    width: 100%;
    perspective: 1000px;
    -webkit-perspective: 1000px;
    perspective-origin: 50% 50%;
    -webkit-perspective-origin: 50% 50%; }
  #shell .panel {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 600px;
    width: 1200px;
    perspective: 1000px;
    -webkit-perspective: 1000px;
    perspective-origin: 50% 50%;
    -webkit-perspective-origin: 50% 50%;
    z-index: 100; }
  #shell .homeImg,
  #shell .homeContent,
  #shell .workImg,
  #shell .workContent,
  #shell .aboutImg,
  #shell .aboutContent,
  #shell .contactImg,
  #shell .contactContent {
    height: 100%;
    width: 50%;
    position: absolute;
    top: 0; }
  #shell .homeImg,
  #shell .workImg,
  #shell .aboutImg,
  #shell .contactImg {
    left: 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; }
  #shell .homeImg {
    background-image: url("../img/manSmall.jpg"); }
  #shell .workImg {
    background-image: url("../img/robotSmallC.jpg"); }
  #shell .aboutImg {
    background-image: url("../img/deskSmallC.jpeg"); }
  #shell .contactImg {
    background-image: url("../img/letterSmallC.jpeg"); }
  #shell .homeContent {
    right: 0;
    background-color: rgba(76, 76, 76, 0.23); }
    #shell .homeContent .name {
      display: block;
      margin: 0 auto;
      font-weight: normal;
      color: white;
      font-size: 28px;
      text-align: center;
      padding: 40px 0;
      letter-spacing: 4px;
      font-family: "Montserrat", sans-serif;
      text-transform: uppercase; }
    #shell .homeContent .spacer {
      display: block;
      margin: 0 auto;
      width: 5px;
      height: 2px;
      background-color: white; }
    #shell .homeContent .title {
      display: block;
      margin: 0 auto;
      width: 90%;
      font-weight: normal;
      color: white;
      font-size: 23px;
      text-align: center;
      padding: 40px 0;
      letter-spacing: 4px;
      font-family: "Quicksand", sans-serif; }
    #shell .homeContent .social {
      padding: 40px 0;
      text-align: center; }
      #shell .homeContent .social a {
        color: white; }
        #shell .homeContent .social a:nth-child(n+2) {
          margin-left: 30px; }
    #shell .homeContent .centering {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      width: 100%;
      height: 400px; }
    #shell .homeContent .nav {
      position: absolute;
      bottom: 20px;
      left: 0;
      width: 100%;
      text-align: center; }
      #shell .homeContent .nav .navBtn {
        display: inline-block;
        vertical-align: midde;
        background-color: transparent;
        border-bottom: 2px solid lightblue;
        border-top: none;
        border-left: none;
        border-right: none;
        color: lightblue;
        height: 40px;
        width: 80px;
        font-family: "Anonymous Pro", monospace; }
        #shell .homeContent .nav .navBtn:nth-child(2) {
          margin: 0 15px; }
        #shell .homeContent .nav .navBtn:focus {
          outline: 0; }
        #shell .homeContent .nav .navBtn:hover {
          cursor: pointer; }
  #shell .workContent,
  #shell .aboutContent,
  #shell .contactContent {
    right: 0;
    background-color: rgba(76, 76, 76, 0.23);
    padding: 50px; }
    #shell .workContent .exit,
    #shell .aboutContent .exit,
    #shell .contactContent .exit {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 10px;
      margin: auto;
      height: 40px;
      width: 70px;
      text-align: center;
      border: none;
      background-color: transparent;
      color: white;
      font-size: 17px;
      font-family: "Anonymous Pro", monospace;
      letter-spacing: 3px;
      text-transform: uppercase; }
      #shell .workContent .exit:focus,
      #shell .aboutContent .exit:focus,
      #shell .contactContent .exit:focus {
        outline: 0; }
      #shell .workContent .exit:hover,
      #shell .aboutContent .exit:hover,
      #shell .contactContent .exit:hover {
        cursor: pointer; }
  #shell .textShell {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 80%;
    width: 80%; }
    #shell .textShell .title {
      color: white;
      text-transform: uppercase;
      letter-spacing: 4px;
      text-align: center;
      font-family: "Montserrat", sans-serif;
      letter-spacing: 6px !important;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      margin: auto; }
    #shell .textShell .wordHold {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      overflow-y: scroll !important;
      overflow-x: hidden !important;
      height: 90%;
      width: 100%; }
      #shell .textShell .wordHold p {
        color: white;
        margin-top: 20px;
        font-family: "Quicksand", sans-serif;
        font-size: 18px; }
  #shell .contactContent .formHold {
    height: 370px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto; }
    #shell .contactContent .formHold .title {
      text-align: center;
      color: black;
      font-family: "Montserrat", sans-serif; }
  #shell .contactContent form #name,
  #shell .contactContent form #email {
    border: none;
    border-bottom: 2px solid black;
    padding-bottom: 5px; }
  #shell .contactContent form #name,
  #shell .contactContent form #email,
  #shell .contactContent form #message {
    width: 70%;
    background-color: transparent;
    color: black;
    text-align: center;
    display: block;
    margin: 10px auto 0 auto;
    font-family: "Quicksand", sans-serif; }
    #shell .contactContent form #name:focus,
    #shell .contactContent form #email:focus,
    #shell .contactContent form #message:focus {
      outline: 0; }
  #shell .contactContent form #message {
    height: 170px;
    border: 2px solid black;
    padding: 10px; }
  #shell .contactContent form button {
    height: 40px;
    width: 100px;
    border: none;
    background-color: #bdffc3;
    color: black;
    display: block;
    margin: 10px auto 0 auto;
    font-family: "Anonymous Pro", monospace; }
    #shell .contactContent form button:focus {
      outline: 0; }
    #shell .contactContent form button:hover {
      cursor: pointer; }
  #shell .contactContent form ::-webkit-input-placeholder {
    color: black;
    opacity: 1 !important; }
  #shell .contactContent form :-moz-placeholder {
    color: black;
    opacity: 1 !important; }
  #shell .contactContent form ::-moz-placeholder {
    color: black;
    opacity: 1 !important; }
  #shell .contactContent form :-ms-input-placeholder {
    color: black;
    opacity: 1 !important; }
  #shell .freeTemplateDesign {
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    opacity: 0.5;
    color: white;
    font-family: "Anonymous Pro", monospace;
    font-size: 14px; }
    @media only screen and (max-width: 1275px) {
      #shell .freeTemplateDesign {
        bottom: 0px; } }
    @media only screen and (max-width: 750px) {
      #shell .freeTemplateDesign {
        z-index: 100 !important; } }
  @media only screen and (max-width: 1275px) {
    #shell {
      /*
          .aboutContent,
          .workContent{
            .title{
              padding-top: 6% !important;
            }
            .wordHold{
              height: 60% !important;
            }
          }
          */ }
      #shell .panel {
        top: 50px;
        left: 50px;
        right: 50px;
        bottom: 50px;
        margin: auto;
        height: auto;
        width: auto; }
      #shell #builtBy {
        bottom: 15px !important; }
      #shell .homeContent .title {
        font-size: 20px; }
      #shell .textShell {
        height: 60%; }
        #shell .textShell .wordHold {
          height: 80%; } }
  @media only screen and (max-width: 750px) {
    #shell {
    /*
        height: 950px !important;
        border: 5px solid lightblue;
        .homeImg,
        .homeContent,
        .workImg,
        .workContent,
        .aboutImg,
        .aboutContent,
        .contactImg,
        .contactContent,{
          //height: 85%;
          height: 300px !important;
          width: 100% !important;
          position: absolute;
          //top:0;
        }
        .homeContent,
        .workContent,
        .aboutContent,
        .contactContent{
          top: default !important;
          bottom:0 !important;
          left:0 !important;
          right:0 !important;
          border: 5px solid tomato;
          //background-color: rgba(0,0,0,0.5) !important;
  
  
        }
        .panel{
          //border: 5px solid yellow;
  
        top:20px;left:20px;right:20px;bottom:20px;
  
  
  
        }
    */ }
      #shell .panel {
        top: 20px;
        left: 20px;
        right: 20px;
        bottom: 20px;
        margin: auto;
        height: auto;
        width: auto; }
      #shell .nav {
        bottom: 40px !important; }
      #shell .homeImg,
      #shell .homeContent,
      #shell .workImg,
      #shell .workContent,
      #shell .aboutImg,
      #shell .aboutContent,
      #shell .contactImg,
      #shell .contactContent {
        height: 100% !important;
        width: 100% !important;
        position: absolute; }
      #shell .homeContent,
      #shell .workContent,
      #shell .aboutContent,
      #shell .contactContent {
        top: 0 !important;
        background-color: rgba(0, 0, 0, 0.5) !important; }
      #shell .homeContent .name {
        color: white !important; }
      #shell .homeContent .title {
        color: white !important; }
      #shell .homeContent .spacer {
        background-color: white !important; }
      #shell .homeContent .social a {
        color: white !important; }
      #shell .homeContent .navBtn {
        color: white !important;
        border-bottom: 2px solid white !important; }
      #shell .contactContent .exit {
        left: 10px !important;
        right: auto !important;
        bottom: 10px;
        text-transform: uppercase; }
        #shell .contactContent .exit:focus {
          outline: 0; }
        #shell .contactContent .exit:hover {
          cursor: pointer; }
      #shell .formHold {
        width: 300px !important; }
        #shell .formHold .title {
          color: #F0D890 !important; }
        #shell .formHold form #name,
        #shell .formHold form #email {
          border-bottom: 2px solid #FDFDD1 !important; }
        #shell .formHold form #message {
          border: 2px solid #FDFDD1 !important; }
        #shell .formHold form #name,
        #shell .formHold form #email,
        #shell .formHold form #message {
          color: #FDFDD1 !important;
          width: 100% !important; }
        #shell .formHold form ::-webkit-input-placeholder {
          color: #FDFDD1 !important; }
        #shell .formHold form :-moz-placeholder {
          color: #FDFDD1 !important; }
        #shell .formHold form ::-moz-placeholder {
          color: #FDFDD1 !important; }
        #shell .formHold form :-ms-input-placeholder {
          color: #FDFDD1 !important; } }

/*Page Specifics*/

/*# sourceMappingURL=main.css.map */
